html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    width: 100%;
    height: 100%;
    background: white;
    display: block;

  //image-rendering: optimizeSpeed;             /* Older versions of FF          */
  //image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  //image-rendering: -webkit-optimize-contrast; /* Safari                        */
  //image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  //image-rendering: pixelated;                 /* Awesome future-browsers       */
  //-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.controls {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    .group {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;

        .text-button {
            cursor: pointer;
            background: white;
            padding: 5px 8px 4px 8px;
            border: 1px solid black;
            transition: box-shadow 100ms ease, transform 50ms ease;

            &:hover {
                box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
            }

            &:active {
                box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
                transform: scale(0.9);
            }

            &.selected {
                border: 1px solid #03A9F4;
                box-shadow: 0px 0px 8px 0px rgba(#03A9F4, 1);
            }
        }

        &.colors {
            .color-button {
                cursor: pointer;
                width: 24px;
                height: 24px;
                margin: 0 1px;

                outline: 1px solid white;
                border: 1px solid black;
                background-color: red;
                transition: all 200ms ease;

                &:hover {
                    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
                }

                &:active {
                    transform: scale(0.9);
                    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
                }

                &.selected {
                    border: 1px solid white;
                    outline: 1px solid #03A9F4;
                    box-shadow: 0px 0px 8px 0px rgba(#03A9F4, 1);
                }
            }
        }
    }
}

.status-text {
    position: absolute;
    top: 10px;
    right: 10px;

    .draw-delay {
        text-align: right;
    }
}
